<div class="wrapper">
  <div class="box">
    <div class="box--content"><ng-content></ng-content></div>
    <div
      class="box--img {{ this.flipX ? 'box--img-flipX' : '' }}"
      style="background-image: url(/assets/img/{{ img }}.png); height: {{ size }}rem"
    ></div>
  </div>

  <div class="line line--T" style="height: {{ this.lineT }}em"></div>
  <div class="line line--B" style="height: {{ this.lineB }}em"></div>
  <div class="line line--L" style="width: {{ this.lineL }}em"></div>
  <div class="line line--R" style="width: {{ this.lineR }}em"></div>

  <!-- <div class="input-arrow input-arrow--L"></div> -->
</div>
