@use '../../../../theme';

.box {
  background-color: theme.$el-bg-color;
  border: 0.1rem solid theme.$text-color;
  box-shadow: theme.$shadow;
  width: 10rem;
  min-height: 6rem;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }
}
