@use '../../../../theme';

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .box {
    background-color: theme.$el-bg-color;
    border: 0.1rem solid theme.$text-color;
    box-shadow: theme.$shadow;
    min-width: 12rem;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    &--content:not(:empty) {
      width: 100%;
      padding-bottom: 1rem;
    }

    &--img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
    }

    &--img-flipX {
      transform: scaleX(-1);
    }
  }

  .line {
    background-color: theme.$text-color;
    position: absolute;

    &--T,
    &--B {
      width: 0.125rem;
      left: 50%;
    }

    &--L {
      left: 0;
      transform: translate(-100%, -50%);
    }

    &--R {
      right: 0;
      transform: translate(100%, -50%);
    }

    &--L,
    &--R {
      height: 0.125rem;
      top: 50%;
    }
  }

  .input-arrow {
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.1rem solid theme.$text-color;
    border-left: 0.1rem solid theme.$text-color;
    position: absolute;

    &--L {
      left: 0;
      top: 50%;
      transform: translate(calc(-100% - 0.1rem), -50%) rotate(135deg);
    }
  }
}
