@use '../../../../theme';

.node {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 50%;
  box-shadow: theme.$shadow;
  border: 0.1rem solid theme.$text-color;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 0;

  &:focus {
    outline: none;
  }

  &--input {
    border: 0.2rem solid theme.$input-indication-color;
  }
}
