@use '_palette.scss';

$bg-color: darken(palette.$blue, 30);
$input-indication-color: palette.$blue;
$text-color: palette.$white;
$shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.5);
$el-bg-color: rgba(0, 0, 0, 0.25);
$success-color: palette.$green;
$danger-color: palette.$red;
